{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/browse.css">

{{!-- Navbar --}}
<div id="background"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboards/{{user.id}}">My Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lending/{{user.id}}">Lending</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/borrowing/{{user.id}}">Borrowing<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Log Out</a>
      </li>
    </ul>
  </div>
</nav>


{{!-- Content --}}


<div class="container">

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2>Items Available:</h2>
      <h4> Search for item(s) available in your neighborhood.</h4>
    </div>
  </div>

  <input type="text" id="myInput" class="form-control mb-4" placeholder="Search for items.." title="Type in a name" />


  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-outline-dark mb-2" href="/dashboards/{{user.id}}" role="button">Go Back</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table id="myTable">
        <tr class="firstrow">
          <th>Category</th>
          <th>Item Name</th>
          <th>Description</th>
          <th>#Days to borrow</th>
          <th>Lender</th>
          <th>Borrow</th>
        </tr>

        <tbody>

          {{#each items}}
          {{#unless this.isBorrowed}}

          <form action="/borrowing/{{this.id}}?_method=PUT" method="POST">
            <tr>
              <td>{{category}}</td>
              <td>{{name}}</td>
              <td>{{description}}</td>
              <td>{{borrow_days}}</td>
              <td>User {{UserId}}</td>
              <td><button type="submit" class="btn btn-outline-dark">borrow</button></td>
            </tr>
          </form>

        </tbody>
        {{/unless}}
        {{/each}}
      </table>
    </div>

  </div>
</div>


<script>

  $("#myInput").on("keyup", function () {
    var value = $(this)
      .val()
      .toUpperCase();
    $("#myTable tr").filter(function () {
      $(this).toggle(
        $(this)
          .text()
          .toUpperCase()
          .indexOf(value) > -1
      );
    });
  });
</script>