{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/browse.css">

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboards">My Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lending">Lending</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/borrowing">Borrowing<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Log Out</a>
      </li>
    </ul>
  </div>
</nav>


{{!-- Content --}}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<div class="container">
<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> aab8a69c02ffb7cbf62d27311e078fc440e6df03
=======
>>>>>>> 69ae661775ca7387583996abf6ce03976b4b22c5
  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <h2>Items Available:</h2>
      <h4> Search for item(3) available in your neighborhood.</h4>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-outline-dark" href="/dashboards" role="button">Go Back</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <table>
      <tr>
        <th>Item</th>
        <th>Category</th>
        <th>Description</th>
        <th>#Days to borrow</th>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td>{{category}}</td>
        <td>{{description}}</td>
        <td>{{daysBorrow}}</td>
      </tr>
    </table>

    <ol>
    {{!-- {{#each name}}
    {{/each}} --}}
    </ol>
=======
>>>>>>> 69ae661775ca7387583996abf6ce03976b4b22c5
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="search" style="text-align:center">
<<<<<<< HEAD
      <h4>Search for an item</h4>
=======
  </div>



=======
>>>>>>> 69ae661775ca7387583996abf6ce03976b4b22c5

        <h4>Search for an item</h4>
<<<<<<< HEAD
>>>>>>> aab8a69c02ffb7cbf62d27311e078fc440e6df03
=======

>>>>>>> 69ae661775ca7387583996abf6ce03976b4b22c5
        <form class="create-form">

          <div class="form-group">
            <input type="text" id="ca" name="name"><br>
            <button type="submit" class="btn btn-secondary">SUBMIT</button>
          </div>
        </form>
<<<<<<< HEAD
<<<<<<< HEAD
      </div>
    </div>
  </div>
</div>
=======
=======
>>>>>>> 69ae661775ca7387583996abf6ce03976b4b22c5

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>want to borrow</h3>
        <table class="table table-sm table-hover">

          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">category</th>
              <th scope="col">items Name</th>
              <th scope="col">Borrow Days</th>
              <th scope="col">Description</th>

            </tr>
          </thead>

          <tbody>

            {{#each items}}
            {{#unless this.isBorrowed}}

            <form action="/borrowing/{{this.id}}?_method=PUT" method="POST">

              <tr>
                <button type="submit" class="btn btn-outline-primary mb-4 font-weight-bold">
                  <th scope="row">{{id}}</th>
                  <td>{{category}}</td>
                  <td>{{name}}</td>
                  <td>{{borrow_days}}</td>
                  <td>{{description}}</td>
                </button>
              </tr>
              <i class="fa fa-arrow-right"></i>

            </form>

          </tbody>
          {{/unless}}
          {{/each}}
        </table>
      </div>



      <div class="col-md-6">
        <table class="table table-sm table-hover">
          <h3>borrowed</h3>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">category</th>
              <th scope="col">items Name</th>
              <th scope="col">Borrow Days</th>
              <th scope="col">Description</th>

            </tr>
          </thead>

          <tbody>

            {{#each items}}
            {{#if this.isBorrowed}}

            <form action="/borrowing/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-primary mb-4 font-weight-bold">
                <tr>
                  <th scope="row">{{id}}</th>
                  <td>{{category}}</td>
                  <td>{{name}}</td>
                  <td>{{borrow_days}}</td>
                  <td>{{description}}</td>
                </tr>
                <i class="fa fa-trash"></i>
              </button>
            </form>

          </tbody>
          {{/if}}
          {{/each}}
        </table>
      </div>
    </div>


  </div>
<<<<<<< HEAD
>>>>>>> aab8a69c02ffb7cbf62d27311e078fc440e6df03
=======
>>>>>>> 69ae661775ca7387583996abf6ce03976b4b22c5
