{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/dashboard.css">

{{!-- Navbar --}}
<div id="background"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboards/{{user.id}}">My Dashboard<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lending/{{user.id}}">Lending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/borrowing/{{user.id}}">Borrowing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>MY DASHBOARD</h1>
            <hr>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-2"></div>
    <div id="user" class="col-md-6">

        <div class="row">
            <div>
                <h3>Name:</h3>
                <h4>{{user.firstName}} {{user.lastName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h3>Email:</h3>
                <h4>{{user.email}} </h4>
            </div>
        </div>



        <div class="row">
            <div class="col-sm">
                <h5>Address: {{user.street}} {{user.city}} {{user.state}} {{user.zipcode}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5>Member Since:{{user.createdAt}} </h5>
            </div>
        </div>



    </div>
</div>

<hr>
<hr>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <h2>HELD ITEMS</h2>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-dark" href="/lending/{{user.id}}" role="button">LEND STUFF</a>
                </div>


                <div class="col-lg-12">
                    <table class="table table-sm table-hover mt-4">

                        <thead>
                            <tr class="firstrow">
                                <th scope="col">Category</th>
                                <th scope="col">Items</th>
                                {{!-- <th scope="col">Borrow Days</th> --}}
                                <th scope="col">Description</th>
                                <th scope="col">Borrower</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each items}}
                            <tr>
                                <td>{{category}}</td>
                                <td>{{name}}</td>
                                {{!-- <td>{{borrow_days}}</td> --}}
                                <td>{{description}}</td>

                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <h2>BORROWED ITEMS</h2>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-dark" href="/borrowing/{{user.id}}" role="button">GET STUFF</a>
                </div>
            </div>

            <div class="col-lg-12">
                <table class="table table-sm table-hover mt-4">

                    <thead>
                        <tr class="firstrow">
                            <th scope="col">Category</th>
                            <th scope="col">Items</th>
                            {{!-- <th scope="col">Borrow Days</th> --}}
                            <th scope="col">Description</th>
                            <th scope="col">Date Listed</th>
                            <th scope="col">Lender</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each itemsBrr}}
                        {{#if this.isBorrowed}}
                        <tr>
                            <td>{{category}}</td>
                            <td>{{name}}</td>
                            {{!-- <td>{{borrow_days}}</td> --}}
                            <td>{{description}}</td>
                            <td>{{createdAt}}</td>
                            <td>User {{UserId}}</td>
                        </tr>
                        </button>
                    </tbody>
                    {{/if}}
                    {{/each}}
                </table>

            </div>
        </div>
    </div>
</div>
</div>