{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/browse.css">


{{!-- Navbar --}}
<div id="background"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboards/{{user.id}}">My Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lending/{{user.id}}">Lending<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/borrowing/{{user.id}}">Borrowing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>LENDING</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>List item(s) you would like to share.</h3>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
            <button type="button" class="btn btn-dark" data-toggle="collapse" href="#addItem">ADD ITEM(S)</button>
            <a class="btn btn-outline-dark" href="/dashboards/{{user.id}}" role="button">Go Back</a>
        </div>
    </div>

    <br />

    <form class="form" id="addItem" action="/items" method="post">

        <div class="form-row">
            <div class="col-2">
            <select class="form-control" name="category">
                <option value="">Category</option>
                <option value="Tools">Tools</option>
                <option value="Appliances">Appliances</option>
                <option value="Furniture">Furniture</option>
                <option value="Decor">Decor</option>
                <option value="Electrical">Electrical</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Bathroom">Bathroom</option>
                <option value="Heating">Heating</option>
                <option value="Outdoor">Outdoor</option>
                <option value="Storage">Storage</option>
                <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-3">
                <input class="form-control" id="nameInput" name="name" type="text" placeholder="Item(s) Name">
            </div>
            <div class="col-2">
                <select class="form-control" name="borrow_days">
                <option value="">#Borrow Days</option>
                <option value="7">7 days</option>
                <option value="10">10 days</option>
                <option value="14">14 days</option>
                <option value="30">30 days</option>
                <option value="60">60 days</option>
                </select>
            </div>
            <div class="col">
                <input class="form-control" id="descriptionInput" name="description" type="text"
                    placeholder="Description">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mt-3">
                <button type="submit" class="btn btn-light">Submit</button>
            </div>
        </div>
    </form>

    <br />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-hover">

                <thead>
                    <tr>
                        <th scope="col">category</th>
                        <th scope="col">items Name</th>
                        <th scope="col">Borrow Days</th>
                        <th scope="col">Description</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>

                <tbody>
                    {{#each items}}
                    <form action="/lending/{{this.id}}?_method=DELETE" method="POST">
                        <tr>
                            <td>{{category}}</td>
                            <td>{{name}}</td>
                            <td>{{borrow_days}}</td>
                            <td>{{description}}</td>
                            <td><button type="submit" class="btn btn-outline-dark">delete</button></td>
                        </tr>
                    </form>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>

</div>